* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Pro", sans-serif;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: #C8B276;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #F3F2F0;
}
.task1 {
  display: flex;
  width: 100%;
  height: 85px;
  background-color: #F3F2F0;
  justify-content: center;
  align-items: center;

}

.ht_bg {
  height: 70vh;
  background: url("../img/trangchubg.jpg") no-repeat center center/cover;
  color: white;
  text-align: center;
}

.ht_bg .ht_bgt1 {
  padding-top: 40vh;
  font-size: 30px;
}
.ht_bg div {
  max-width: 80vw;
}

.banner-title {
  font-size: 60px;
}

.underline {
  border-top: 5px solid white;
  width: 100%;
}

.task1 img {
  height: 70px;
  width: auto;
}

.nav {
  background: #F7F7F7;
  box-shadow: 0px -2px 25px 0px rgba(217, 217, 217, 0.15);
  font-family: "Crimson Pro";
  height: 60px;

}

.nav .container {
  display: flex;
  align-items: center;
  width: 60%;
}

.nav .container .row {
  width: 100%;
}

.nav .container .row .col-3 {
  padding: 0;
}

.nav-btn {
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-btn:hover {
  background-color: #C8B276;
  color: white;
}

.footer {
  height: auto;
  background-color: rgba(12, 94, 146, 1);
  color: white;
  font-size: 14px;
  font-family: "Open Sans";
}

.footer .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.footer .container .row {
  height: 100%;
  width: 100%;
}

.footer .container .row img {
  height: 60px;
  width: auto;
}

.footer .container .row .col-md-3 a {
  margin: 20px;
}

.footer .container .row .col-md-3 i {
  scale: 200%;
}

.footer .container .row>div {
  align-content: center;
}

.anh {
  text-align: center;
}

.text_ht1 {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 20px;
}

.hotel {
  height: auto;
  background-color: #f1f4f6;
}

.hotel .container .row .col-6 {
  font-size: 17px;

}

.hotel .container .row .col-md-6 img {
  width: 100%;
  height: auto;
}

.hotel .container .row .col-md-6 .text_ht2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;

}

.hotel .container .row .col-6 .text_ht3 {
  text-align: justify;
}

.ht_btt {
  text-align: center;
  padding: 20px;
}

.ht_btt a {
  box-shadow: 5px 5px 5px #ddd, -5px 5px 5px #ddd, 5px -5px 5px #ddd, -5px -5px 5px #ddd;
}

.hp_btt a {
  box-shadow: 5px 5px 5px #ddd, -5px 5px 5px #ddd, 5px -5px 5px #ddd, -5px -5px 5px #ddd;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #ddd, -5px 5px 5px #ddd, 5px -5px 5px #ddd, -5px -5px 5px #ddd;
  transition: transform 0.3s;
}
.button:hover {
  box-shadow: 3px 3px 10px #ccc, -3px 3px 10px #ccc, 3px -3px 10px #ccc, -3px -3px 10px #ccc;
  transform: translateY(-3px);
}

.position-relative {
  position: relative;
}

.room-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(200, 178, 118, 0.7);
  border: none;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.room-nav:hover {
  background: rgba(200, 178, 118, 0.9);
}

.room-nav:active {
  transform: scale(0.9);
}

.prev-room {
  left: 0;
}

.next-room {
  right: 0;
}

#home-juniorsuite-img {
  width: 100%;
  padding: 0 30px 40px;
}

.gallery {
  background-color: #f1f4f6;
  width: 100vw;
}

.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin: auto;
  display: flex;
  padding-bottom: 50px;
}

.nav-btn.active {
  background-color: #C8B276;
  color: white; 
}

.slideshow-container a {
  height: 16px;
  padding-top: 80px;
  color: #000;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll img {
  width: 300px;
  height: auto;
  margin: 10px 30px 10px 0;
  cursor: pointer;
  transition: transform 0.3s;
}

.horizontal-scroll img:hover {
  transform: scale(1.1);
}

.image-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}

.image-modal .slide-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 20px;
  scale: 150%;
  color: white;
  background-color: #c8b27689;
  border-radius: 100px
}

.image-modal .slide-btn:hover {
  transform: scale(1.2);
}

.image-modal .slide-btn:active {
  transform: scale(0.9);
}

.image-modal .next-btn {
  right: 10vw;
}

.image-modal .prev-btn {
  left: 10vw;
}

.image-modal .modal-content {
  max-height: 80vh;
  width: auto;
  max-width: 80vw;
}

.ggmap {
  padding-bottom: 50px;
}

.ggmap .container 
{
  text-align: center;
  justify-content: center;
}

.ggmap .container iframe {
  width: 100%;
  height: 600px;
}

.hangphong .container .row .col-md-4 .box {
  height: 500px;
  width: auto;
  box-shadow:
      5px 5px 5px #cccccc,
      -5px 5px 5px #cccccc,
      5px -5px 5px #cccccc,
      -5px -5px 5px #cccccc;
  margin: 30px;
}

.text_hp {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 20px;
}

.text_hp1 {
  text-align: justify;
  margin: 20px;
}

.box ul {
  padding-left: 100px;
  list-style-position: inside;
  list-style-type: none;
}

.hp_btt {
  text-align: center;
  margin-bottom: 20 px;
}

.col-md-4 {
  margin-top: 20px;
}

.hp_bg {
  height: 70vh;
  background: url("../img/hangphong2.jpg") no-repeat center center/cover;
  color: white;
  text-align: center;
}

.hp_anhphong {
  width: 100%;
  height: auto;
  padding: 30px;
}

.flex {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  display: flex;
}

.buttondat {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow:
      5px 5px 5px #ddd,
      -5px 5px 5px #ddd,
      5px -5px 5px #ddd,
      -5px -5px 5px #ddd;
}
.buttondat:hover {
  box-shadow: 3px 3px 10px #ccc, -3px 3px 10px #ccc, 3px -3px 10px #ccc, -3px -3px 10px #ccc;
  transform: translateY(-3px);
}

.buttonxem {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow:
      5px 5px 5px #ddd,
      -5px 5px 5px #ddd,
      5px -5px 5px #ddd,
      -5px -5px 5px #ddd;
}
.buttonxem:hover {
  box-shadow: 3px 3px 10px #ccc, -3px 3px 10px #ccc, 3px -3px 10px #ccc, -3px -3px 10px #ccc;
  transform: translateY(-3px);
}

.container .row.hp {
  justify-content: space-between;


}
.box {
  height: 100%;
  box-shadow:
      5px 5px 5px #cccccc,
      -5px 5px 5px #cccccc,
      5px -5px 5px #cccccc,
      -5px -5px 5px #cccccc;
  margin: 20px;
}
.mota
{
  padding: 10px;
}
.tenphong {
  color: #000;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.footer .container .row .col-md-3
{
    margin: auto;
}
.footer a {
    color: white;
}
p, strong, input, textarea, div {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  }
  label {
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  strong {
    font-weight: 600;
  }
  .contact-banner {
    background: url(../img/room1.png) no-repeat center center/cover;
    height: 70vh;
    color: white;
    text-align: center;
  }
  .hotel-info, .contact-form {
    border: 2px solid #C8B276;
    padding: 20px;
  }
  .footer-map iframe {
    width: 100%;
    height: 400px;
  }
  .service-banner {
    background: url(../img/service-banner.jpg) no-repeat center center/cover;
    height: 70vh;
    color: white;
  }
  .service-banner .container {
    border-top: 5px solid white;
    width: 100%;
  }
  .pay-banner {
    background: url(../img/service-banner.jpg) no-repeat center center/cover;
    height: 70vh;
    color: white;
    text-align: center;
  }
  .pay-banner .container {
    border-top: 5px solid white;
    width: 25%;
  }
.form-check {
  display: block;
  margin: 10px 0;
}
.form-check-label {
    font-weight: 400;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 10px;
}
form img {
  float: right;
}
.note {
  color: #BC8701;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

#detail-panel {
  background-color: #1E2C32;
  width: 80vw;
  height: 95vh;
  max-height: 70vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#detail-panel .row {
  display: flex;
  justify-content: space-around;
}

.detail-header{
  color: white;
  background-color: #0C5E92;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;
}

.detail-header button i{
  scale: 150%;
}

.detail-panel-slide{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-panel-slide-container {
  width: 100%;
  height: 20%;
  margin: 10px 0;
  align-items: center;
}

.detail-panel-slide {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 0 40px;
}

.slide-img {
  width: 150px;
  max-height: 5vw;
  margin: 0 10px;
  cursor: pointer;
  object-fit:contain;
  transition: transform 0.3s;
}

.slide-img:hover {
  transform: scale(1.05);
}

.slide-btn {
  position: absolute;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.slide-btn:hover {
  transform: scale(1.5);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

#mainImage {
  width: 100%;
  max-height: 30vw;
  object-fit: cover;
  transition: opacity 0.3s;
}

.details {
  background-color: #fff;
  height: 65vh;
  max-height: 50vw;
  overflow-y: scroll;
}

.details img {
  width: 100%;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #C8B276;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.scrollToTopBtn:hover {
  background-color: #A68A50;
}

#indexx
{
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
}
.deals-title {
  width: 250px;
}
.deals {
  transition: all 0.3s ease;
}
.deals:hover {
  transform: scale(1.03);
}
.qr-code {
  width: 80vw;
  max-width: 80vh;
}